<h1>Once your payment has been successfully processed we will send you an email, please provide confirmation of your order number, order items and the shipping address.</h1>
<h2>Thank you for shopping with Taylor Made Unique!</h2>

<h3>
  Your order number is <%= @order.id %>, we will refer to this number for future reference. 
</h3>