<div class="jumbotron">
  <h1>Blog Posts</h1>
</div>

<h1>For our Youtube channel, just click the icon link below to be redirected: <br>
 <div class="wrapper">
 
   <a class="fa fa-5x fa-youtube-square" href="https://www.youtube.com/" target="_blank"></a><br>
 
      Don't forget to like our videos and subscribe to our channel!
  
</div>
</h1>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-12">
      <tbody>
      	<div class="well center-it"> 
          <tr>
           <h2><%= post.title %></h2><br>
           <p><em>posted on <%= post.created_at.strftime("%B %e, %Y") %></em></p><br>
           <td><%= post.blog_entry %></td>
          </tr>
        </div>
      </tbody>
    </div>
  <% end %>
  
</div>



