<div class="jumbotron">
  <h1>Please feel free to check out our social media pages!</h1>
</div>

<h1>
For our Facebook Business page, just click the icon link below to be redirected: <br>
 <div class="wrapper">
 
  <a class="fa fa-5x fa-facebook-square" href="https://www.facebook.com/" target="_blank"></a><br>
 
  Don't forget to like our page!
</div>
</h1>


<h1>
For our Youtube channel, just click the icon link below to be redirected: <br>
 <div class="wrapper">
 
  <a class="fa fa-5x fa-youtube-square" href="https://www.youtube.com/" target="_blank"></a><br>
 
 Don't forget to like our videos and subscribe to our channel!
  
</div>
</h1>